@font-face {
  font-family: "iconfont"; /* Project id 3498603 */
  src: url('iconfont.woff2?t=1659334855298') format('woff2'),
       url('iconfont.woff?t=1659334855298') format('woff'),
       url('iconfont.ttf?t=1659334855298') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag2:before {
  content: "\e66a";
}

.icon-calendar:before {
  content: "\e6bf";
}

.icon-inbox:before {
  content: "\e744";
}

.icon-calendar1:before {
  content: "\e746";
}

.icon-contactus:before {
  content: "\e608";
}

.icon-message:before {
  content: "\e6df";
}

.icon-position:before {
  content: "\e60e";
}

.icon-email:before {
  content: "\e675";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-juejin:before {
  content: "\e60b";
}

.icon-guanji:before {
  content: "\e654";
}

.icon-guanji2:before {
  content: "\e81a";
}

.icon-tag:before {
  content: "\e61f";
}

.icon-tag-fill:before {
  content: "\e86e";
}

.icon-tag1:before {
  content: "\e641";
}

.icon-a-topliontubiaoku_zonglan:before {
  content: "\e613";
}

.icon-a-topliontubiaoku_yijian:before {
  content: "\e614";
}

.icon-a-topliontubiaoku_yonghuzhongxin:before {
  content: "\e615";
}

.icon-qiehuanzhizidingyicaidan:before {
  content: "\e65a";
}

.icon-toubiaoguanli:before {
  content: "\e660";
}

